fastapi                    # Web Framework
uvicorn                    # ASGI Server
sqlmodel                   # Database ORM
typer                      # CLI Framework
dynaconf                   # Config Management
jinja2                     # Templating
python-jose[cryptography]  # Encrypt
passlib[bcrypt]            # Hashing
python-multipart           # Form processing
psycopg2-binary            # Database Driver
alembic                    # Database Migrations
rich                       # Terminal formatting
fastapi-pagination         # Pagination
OpenSearch                 # Search Engineering
opensearch_dsl             # Lib Search Engineering use DSL
nltk                       # Natural Language Processing
Pillow==9.3.0
pytesseract==0.3.10
python-dotenv==0.21.0
python-multipart==0.0.5